#batteryAlarm.service
[Unit]
Description=Battery Alarm

[Service]
Type=oneshot
ExecStart=/bin/bash /home/user/Utility/myDevEnvironment/batteryAlarm.sh
Environment="DISPLAY=:0"

[Install]
WantedBy=graphical.target